.list-section-work {
    display: flex;
  }
  
  .section-icon-features {
    background: var(--maket-color);
    border-radius: 4px;
    padding: 25px 0px;
  }
  
  .list-features:not(:last-child) {
    margin-right: 30px;
  }
  
  .heading-stction-features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .section-icon-features {
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
  
    background: var(--bac-color-buttons);
  }
  .section-icon-under-hero {
    margin-bottom: 33px;
  }
  
  .icon-parametr {
    width: 70px;
    height: 70px;
  }