.overlay-card-annexes {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  
    padding: 27px 0;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  
    color: var(--maket-color);
    background: rgba(47, 48, 58, 0.8);
  }
  
  /*<!-- стиль для заголовков секции "Чем мы занимаемся" и "Наша команда"-->*/
  
  .style-main-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  
    margin-bottom: 50px;
  }
  
  .list-container-img:not(:last-child) {
    margin-right: 30px;
  }
  
  .list-img {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
  }