.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // background-color: wheat;
  //   скрол
  overflow: auto;
  // спрятала меню
  // opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__link {
    color: var(--blackout);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
