.container {
  // outline: 2px solid red;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and(min-width:320px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width:720px) {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width:960px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
